:root {
  --bgcolor: #000000;
}
@font-face {
  font-family: "Syne";
  src: url("../fonts/Syne-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
}
body{
	background-color: #141414;
}
h3{
	font-family: "Syne";
	color: #fff
}
.page-header {
  background-color: #000000;
  padding: 1.3rem;
  display: flex;
  justify-content: space-between;
}
.logo {
  align-self: center;
  margin-left: 1.8rem;
}
.block{
	border-style: solid;
    border-color: #393939;
    border-width: 1px;
	background:#222222;
	border-radius:10px;
	display:flex;
	flex-wrap:wrap;
	padding:20px 25px
}
.block_info{
    width: 100%;
}
.block_name h3{
	font-family: "Syne";
	margin: 0;
    overflow: hidden;
    text-overflow: ellipsis
}
.container{
	margin-top: 50px;
	padding-left:25px;
	padding-right:25px
}
/* ЛИНКИ */
.link{
	height:80%;
	width:5%;
	display: block;
    margin-left: auto;
    margin-right: auto
}
.link img{
	height:100%;
	width:100%;
}
/* ТРЕКИ*/
.track_all_info{
	margin-top: 20px;
	margin-right: 80px;
	align-items:center;
	display:flex
}
.track_picture{
	border-radius:50%;
	flex:0 0 auto;
	height:80px;
	position:relative;
	width:80px
}
.track_img{
	border-radius:10%;
	height:100%;
	overflow:hidden;
	position:relative;
	width:100%
}
.track_img img{
	height:100%;
	object-fit:cover;
	width:100%
}
.track_info{
	margin-left:10px
}
.trak_name a{
	font-family: "Syne";
	color: #fff;
	line-height:1.25;
	text-decoration: none
}
.track_artist a{
	font-family: "Syne";
	color:#393939;
	line-height:1.25;
	margin-top:6px;
	max-width:353px;
	text-decoration: none
}